@import url('https://fonts.googleapis.com/css?family=Shrikhand');
@import url('https://fonts.googleapis.com/css?family=Bangers|Source Sans Pro');
@import url('https://fonts.googleapis.com/css?family=Gaegu:700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #232d30;
  height: 85px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  /* box shadow */
  -webkit-box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.5);
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.nav-container {
  width: 80%;
  margin: 0 auto;
}

.nav-logo {
  float: left;
}

.m_logo {
  width: 55px;
  padding: 15px 0;
}

nav {
  float: right;
  font-family: 'Source Sans Pro', sans-serif;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 40px;
  padding-top: 32px;
  letter-spacing: 2px;

  /* position: relative; */
}

nav a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  transition: 0.4s;
}

nav a:hover {
  color: #2dadd0;
}

nav button {
  color: #fff;
  background-color: #2dadd0;
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-left: 40px;
  margin-top: 12px;
  padding: 5px 15px 7px 15px;
  cursor: pointer;
  transition: 0.4s;
}

nav button:hover {
  background-color: #157a95;
  -webkit-box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.5);
}

.intro {
  background-image: url("../images/code-background.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 70vh;
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 200px;
  margin: 0 auto;

  /* padding: 10px 20px 25px; */
}

.intro .row {
  padding: 10px 20px 25px;
  margin: 0 auto;
  width: 80%;
}

.intro h1 {
  color: white;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
}

.intro h3 {
  color: white;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  line-height: 30px;
  letter-spacing: 2px;
}

.scroll-animation {
  text-align: center;
  padding-top: 100px;
}

.mouse {
  max-width: 2.5rem;
  width: 100%;
  height: auto;
}

.divider {
  width: 100%;
}

.divider .col {
  width: 20%;
  height: 6px;
  float: left;
}

.dark-blue {
  background-color: #2554DD;
}

.md-dark-blue {
  background-color: #268BE7;
}

.blue {
  background-color: #2dadd0;
}

.md-light-blue {
  background-color: #26E7DD;
}

.light-blue {
  background-color: #25DD9F;
}

.scroll {
  animation-name: scroll;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5);
  animation-iteration-count: infinite;
  transform-origin: 50% 20.5px;
  will-change: transform;
}

.about {
  background-color: #232d30;
  /* height: 100vh; */
  height: auto;
  margin: 0 auto;
  clear: left;
  /* padding: 10px 20px 25px; */
}

.about .row {
  background-color: #232d30;
  padding: 10px 20px 25px;
  margin: 0 auto;
  width: 80%;
}

.blue-text {
  color: #2dadd0;
}

.column-4 {
  float: left;
  width: 33%;
  /* padding: 10px; */
  height: auto; /* Should be removed. Only for demonstration */
}

.column-8 {
  float: left;
  width: 66%;
  /* padding: 10px; */
  height: auto; /* Should be removed. Only for demonstration */
}

.about-me-content {
  padding: 0 40px 20px 25px;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: justify;
  color: white;
  font-weight: normal;
}

.about-me-content a {
  text-decoration: none;
  color: #2dadd0;
}

.about h1 {
  font-size: 38px;
  line-height: 30px;
  font-weight: bold;
  color: white;
  padding-top: 20px;
  letter-spacing: 1px;
}

.about h3 {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  color: white;
  letter-spacing: 1px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.profile-img {
  max-width: 250px;
  margin-left: auto;
  border-radius: 50%;
  margin-right: auto;
  margin-top: 45px;
  display: block;
  border: 1px solid #4f5c60;
  padding: 10px;
}

.parallax {
  font-family: 'Source Sans Pro', sans-serif;
  height: auto;

  /* padding: 10px 20px 25px; */

  /* The image used */
  background-image: url('https://i.imgur.com/IFlUFbm.jpg');

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.technical-skills {
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
  height: auto;

  /* padding: 10px 20px 25px; */
}

.technical-skills h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: bold;
  color: black;
  text-align: center;
  padding-top: 20px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 20px 85px;
}

.skills .skill {
  flex: 1 0 25%;
  box-sizing: border-box;
  background: white;
  color: #171e42;
  padding: 10px;
}

.skills .content {
  color: white;
  padding: 10px 20px 25px;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

.skills-logo {
  width: 130px;
}

.projects {
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
  height: auto;

  /* padding: 10px 20px 25px; */
}

.projects .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 4px;
  margin: 0 70px;
}

/* Create four equal columns that sits next to each other */
.projects .column {
  flex: 46%;
  max-width: 50%;
  padding: 15px 20px;
}

.projects .column img {
  margin-top: 8px;
  vertical-align: middle;
  transition: .3s ease;
}

.projects .column img:hover {
  -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
  filter: blur(3px);
  z-index: -1;
}

.projects .buttons {
  text-align: center;
}

.projects button {
  width: 130px;
  color: #fff;
  background-color: #2dadd0;
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 20px;
  padding: 5px 15px 7px 15px;
  cursor: pointer;
  transition: 0.4s;
}

.projects button:hover {
  background-color: #157a95;
  /* -webkit-box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 0 8px 1px rgba(0, 0, 0, 0.5); */
}

.projects h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: bold;
  color: black;
  text-align: center;
  padding-top: 20px;
}

.projects h2 {
  font-size: 35px;
  line-height: 25px;
}

.contact {
  background-color: #2dadd0;
  font-family: 'Source Sans Pro', sans-serif;
  height: auto;
  padding-bottom: 45px;

  /* padding: 10px 20px 25px; */
}

.contact h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding-top: 45px;
}

.contact-icon {
  width: 75px;
  padding: 20px;
}

.contact-icons {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 20px 85px;
}

.contact-icons .icon {
  flex: 1 0 25%;
  box-sizing: border-box;
  background: #2dadd0;
  padding: 10px;
}

.contact a {
  text-decoration: none;
  color: white;
  font-size: 22px;
}

footer {
  background-color: #232d30;
  height: 40px;
}

.overlay-menu {
  background: #232d30;
  color: rgb(13, 26, 38);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 15px;
  transform: translateX(-100%);
  width: 100vw;
  height: 100vh;
  -webkit-transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}

.overlay-menu ul,
.overlay-menu li {
  display: block;
  position: relative;
}

.overlay-menu li a {
  display: block;
  font-size: 2.2em;
  letter-spacing: 4px;

  /* opacity: 0; */
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;

  /* -webkit-transition: 0.2s opacity 0.2s ease-out;
  transition: 0.2s opacity 0.2s ease-out; */
}

.overlay-menu li a:hover,
.overlay-menu li a:active {
  color: #2dadd0;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

/* MEDIA QUERIES */

/* PROJECTS SECTION - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .projects .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* PROJECTS SECTION - makes the two columns stack on top of each other instead of next to each other */
/* @media (max-width: 600px) {
  .projects .column {
    flex: 100%;
    max-width: 100%;
  }
} */

/* NAV BAR */

@media (max-width: 760px) {
  nav ul {
    display: none;
  }

  .menuIcon {
    cursor: pointer;
    display: block;
    position: fixed;
    right: 15px;
    top: 20px;
    height: 50px;
    width: 50px;
    z-index: 12;
  }

  /* Icon Bars */
  .icon-bars {
    background: rgb(250, 250, 250);
    position: absolute;
    left: 1px;
    top: 45%;
    height: 4px;
    width: 30px;

    /* -webkit-transition: 0.4s;
    transition: 0.4s; */
  }

  .icon-bars::before {
    background: rgb(250, 250, 250);
    content: '';
    position: absolute;
    left: 0;
    top: -10px;
    height: 4px;
    width: 30px;

    /* -webkit-transition: top 0.2s ease 0.3s;
    transition: top 0.2s ease 0.3s; */
    -webkit-transition: 0.3s width 0.4s;
    transition: 0.3s width 0.4s;
  }

  .icon-bars::after {
    margin-top: 0;
    background: rgb(250, 250, 250);
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 4px;
    width: 30px;

    /* -webkit-transition: top 0.2s ease 0.3s;
    transition: top 0.2s ease 0.3s; */

    -webkit-transition: 0.3s width 0.4s;
    transition: 0.3s width 0.4s;
  }

  /* Toggle Menu Icon */
  .menuIcon.toggle .icon-bars {
    top: 20px;
    transform: translate3d(0, 5px, 0) rotate(135deg);
    transition-delay: 0.1s;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .menuIcon.toggle .icon-bars::before {
    top: 0;
    transition-delay: 0.1s;
    opacity: 0;
  }

  .menuIcon.toggle .icon-bars::after {
    top: 10px;
    transform: translate3d(0, -10px, 0) rotate(-270deg);
    transition-delay: 0.1s;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
}

/* ANIMATION KEY FRAMES */

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  50% {
    font-size: 300%;
    margin-left: 30%;
    width: 150%;
    letter-spacing: 30px;
  }

  50% {
    font-size: 300%;
    margin-left: 30%;
    width: 150%;
    letter-spacing: 30px;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes colorchange {
  from {
    color: #02a6d5;
  }

  50% {
    color: #ccfe06;
  }

  to {
    color: #02a6d5;
  }
}

@keyframes scroll {
  0%,
  20% {
    transform: translateY(0) scaleY(1);
  }

  10% {
    opacity: 1;
  }

  100% {
    transform: translateY(36px) scaleY(2);
    opacity: 0.01;
  }
}

@keyframes stretch {
  from {
    transform: scale(0.3);
    background-color: red;
  }

  25% {
    background-color: orange;
    transform: rotate(180deg);
  }

  50% {
    background-color: #02a6d5;
    transform: rotate(180deg);
  }

  75% {
    background-color: orange;
    transform: rotate(180deg);
  }

  to {
    transform: scale(1.5);
    background-color: #ccfe06;
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1) rotate(-45deg);
  }

  35% {
    transform: scale(1.3) rotate(-45deg);
  }

  50% {
    transform: scale(1) rotate(-45deg);
  }

  65% {
    transform: scale(1.2) rotate(-45deg);
  }

  80% {
    transform: scale(1) rotate(-45deg);
  }
}
