@import url('https://fonts.googleapis.com/css?family=Shrikhand');
@import url('https://fonts.googleapis.com/css?family=Bangers|BenchNine');
@import url('https://fonts.googleapis.com/css?family=Gaegu:700');

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #3e474e;
  height: 85px;
  position: fixed;
  top: 0;
  width: 100%;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.nav-container {
  width: 80%;
  margin: 0 auto;
}

.nav-logo {
  float: left;
}

.m_logo {
  width: 55px;
  padding: 15px 0;
}

nav {
  float: right;
  font-family: 'BenchNine', sans-serif;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 40px;
  padding-top: 32px;
  letter-spacing: 2px;

  /* position: relative; */
}

nav a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  transition: 0.4s;
}

nav a:hover {
  color: #2dadd0;
}

.about {
  background-color: #2dadd0;
  /* height: 100vh; */
  font-family: 'BenchNine', sans-serif;
  height: auto;
  padding-top: 85px;
  margin: 0 auto;
  /* padding: 10px 20px 25px; */
}

.about .row {
  background-color: white;
  padding: 10px 20px 25px;
  margin: 0 auto;
  width: 80%;
}

.column-4 {
  float: left;
  width: 33%;
  /* padding: 10px; */
  height: auto; /* Should be removed. Only for demonstration */
}

.column-8 {
  float: left;
  width: 66%;
  /* padding: 10px; */
  height: auto; /* Should be removed. Only for demonstration */
}

.about-me-content {
  padding: 0 40px 0 25px;
  text-align: justify;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.profile-img {
  max-width: 275px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  display: block;
}

.skills {
  background-color: #49c8ea;
  font-family: 'BenchNine', sans-serif;
  height: auto;
  /* padding: 10px 20px 25px; */
}

.skills h1 {
  font-size: 55px;
  line-height: 45px;
}

.skills .content {
  background-color: white;
  padding: 10px 20px 25px;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

.projects {
  background-color: #2dadd0;
  font-family: 'BenchNine', sans-serif;
  height: auto;
  /* padding: 10px 20px 25px; */
}

.projects .content {
  background-color: white;
  padding: 10px 20px 25px;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

.projects h1 {
  font-size: 55px;
  line-height: 45px;
}

.projects h2 {
  font-size: 35px;
  line-height: 25px;
}

.contact {
  background-color: #49c8ea;
  font-family: 'BenchNine', sans-serif;
  height: auto;
  /* padding: 10px 20px 25px; */
}

.contact h1 {
  font-size: 55px;
  line-height: 45px;
}

.contact .content {
  background-color: white;
  padding: 10px 20px 25px;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

footer {
  background-color: #3e474e;
  height: 60px;
}

@media (max-width: 760px) {
  nav ul {
    display: none;
  }

  .menuIcon {
    cursor: pointer;
    display: block;
    position: fixed;
    right: 15px;
    top: 20px;
    height: 50px;
    width: 50px;
    z-index: 12;
  }

  /* Icon Bars */
  .icon-bars {
    background: rgb(250, 250, 250);
    position: absolute;
    left: 1px;
    top: 45%;
    height: 4px;
    width: 30px;

    /* -webkit-transition: 0.4s;
    transition: 0.4s; */
  }

  .icon-bars::before {
    background: rgb(250, 250, 250);
    content: '';
    position: absolute;
    left: 0;
    top: -10px;
    height: 4px;
    width: 30px;

    /* -webkit-transition: top 0.2s ease 0.3s;
    transition: top 0.2s ease 0.3s; */
    -webkit-transition: 0.3s width 0.4s;
    transition: 0.3s width 0.4s;
  }

  .icon-bars::after {
    margin-top: 0;
    background: rgb(250, 250, 250);
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 4px;
    width: 30px;

    /* -webkit-transition: top 0.2s ease 0.3s;
    transition: top 0.2s ease 0.3s; */

    -webkit-transition: 0.3s width 0.4s;
    transition: 0.3s width 0.4s;
  }

  /* Toggle Menu Icon */
  .menuIcon.toggle .icon-bars {
    top: 20px;
    transform: translate3d(0, 5px, 0) rotate(135deg);
    transition-delay: 0.1s;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .menuIcon.toggle .icon-bars::before {
    top: 0;
    transition-delay: 0.1s;
    opacity: 0;
  }

  .menuIcon.toggle .icon-bars::after {
    top: 10px;
    transform: translate3d(0, -10px, 0) rotate(-270deg);
    transition-delay: 0.1s;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
}

.overlay-menu {
  background: lightblue;
  color: rgb(13, 26, 38);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 15px;
  transform: translateX(-100%);
  width: 100vw;
  height: 100vh;
  -webkit-transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}

.overlay-menu ul,
.overlay-menu li {
  display: block;
  position: relative;
}

.overlay-menu li a {
  display: block;
  font-size: 1.8em;
  letter-spacing: 4px;

  /* opacity: 0; */
  padding: 10px 0;
  text-align: right;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;

  /* -webkit-transition: 0.2s opacity 0.2s ease-out;
  transition: 0.2s opacity 0.2s ease-out; */
}

.overlay-menu li a:hover,
.overlay-menu li a:active {
  color: rgb(28, 121, 184);
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

/* ANIMATION KEY FRAMES */

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  50% {
    font-size: 300%;
    margin-left: 30%;
    width: 150%;
    letter-spacing: 30px;
  }

  50% {
    font-size: 300%;
    margin-left: 30%;
    width: 150%;
    letter-spacing: 30px;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes colorchange {
  from {
    color: #02a6d5;
  }

  50% {
    color: #ccfe06;
  }

  to {
    color: #02a6d5;
  }
}

@keyframes scroll {
  0%,
  20% {
    transform: translateY(0) scaleY(1);
  }

  10% {
    opacity: 1;
  }

  100% {
    transform: translateY(36px) scaleY(2);
    opacity: 0.01;
  }
}

@keyframes stretch {
  from {
    transform: scale(0.3);
    background-color: red;
  }

  25% {
    background-color: orange;
    transform: rotate(180deg);
  }

  50% {
    background-color: #02a6d5;
    transform: rotate(180deg);
  }

  75% {
    background-color: orange;
    transform: rotate(180deg);
  }

  to {
    transform: scale(1.5);
    background-color: #ccfe06;
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1) rotate(-45deg);
  }

  35% {
    transform: scale(1.3) rotate(-45deg);
  }

  50% {
    transform: scale(1) rotate(-45deg);
  }

  65% {
    transform: scale(1.2) rotate(-45deg);
  }

  80% {
    transform: scale(1) rotate(-45deg);
  }
}
